*
!.gitignore
!.gitattributes
!README.md
!index.html
!shadowrun-berlin-2080-karte.html
!shadowrun-berlin-2080-karte-offline.html
!manifest.webmanifest
!service-worker.js
!.nojekyll
!icons/
!icons/**
!output/
output/*
!output/map/
output/map/*
!output/map/vendor/
!output/map/vendor/**
